footer.footer-bar__footer
  div.footer__group-logo
    img(src=require('./img/logo.png').default)
    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.