footer.footer-bar__footer
  div.footer__logo
    img(src=require('./img/logo.png').default)
    p.footer__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
  div.footer__nav
    li
      p.footer__header Navigation
    li
      a(href='/aboutUs') About Us
    li
      a(href='/news') News
    li
      a(href='/support') Support
    li
      a(href='/products') Products
  div.footer__about
    li
      p.footer__header About Us
    li
      a(href='/aboutUs') Who we are
    li
      a(href='/news') Our team
    li
      a(href='/support') Careers
    li
      a(href='/products') Investors
  div.footer__support
    li
      p.footer__header Support
    li
      a(href='/aboutUs') Documentation
    li
      a(href='/news') Community
    li
      a(href='/support') Get in Touch
  div.footer__subscribe
    p.footer__header Subscribe to our newsletter
    p.footer__text Receive our latest news and promotions in your inbox!