footer.footer-creative
    p.footer-creative__logo
      img(src=require('./img/logo.png').default)
    p.footer-creative__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    p.footer-creative__icons
      img(src=require('./img/twitter.png').default)
      img.footer-creative__margin(src=require('./img/facebook.png').default)
      img(src=require('./img/instagram.png').default)