doctype html
html(lang="en")
  head
    meta(charset = 'utf-8')
    title Поиск номеров в отеле
    style
      include ./css/Nav-Bar.css
      include ./css/footer-bar.css
  body
    header.header
    include ./Standard-Nav-Bar.pug
    include ./Standard-Logged-In-Nav-Bar.pug
    include ./footer-bar.pug
    