doctype html
html(lang="en")
  head
    meta(charset = 'utf-8')
    title Поиск номеров в отеле
    style
     include ./css/menu.css
  body
    .header
    include ./menu.pug
    script
     include ./menu.js