
nav.menu

ul.menu-list.js-menu-button
-
  let menu = [
    {url: "#", text: "Home"},
    {url: "#reg", text: 'About Us'},
    {url: "#aut", text: 'Services'},
    {url: "#page1", text: 'Careers'},
    {url: "#page2", text: 'News'},
    {url: "#page3", text: 'Documentation'}
  ]
-let isPage = 0;
each element,i in menu
  if isPage = i
   li.menu-list-element.is-active
    a(href=element.url, class='menu-list-element-a') #{element.text}
  else
   li.menu-list-element
    a(href=element.url, class='menu-list-element-a') #{element.text}