nav.nav
    img(src=require('./img/logo.png').default)
    - const items = ['Home', 'About us', 'Services', 'Careers', 'News', 'Documentation']
    each item in items
        if item === 'Home'
            a.nav__link.nav__link--active(href="#")= item
        else
            a.nav__link(href="#")= item
