nav.nav
  img(src=require('./img/logo.png').default)
  ul.groupNavBar
    li
      a.bold(href='/home') Home
    li
      a(href='/aboutUs') About Us
    li
      a(href='/services')
        select.list
          option Services
    li
      a(href='/careers') Careers
    li
      a(href='/news') News
    li
      a(href='/documentation') Documentation
  div.user Cosmin Negoita